@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*{
    font-family: "Rubik", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
overflow-x: hidden;
}
.navbar{
    background-color: #444445;
    display: flex;
    justify-content: center;
    color: rgb(243, 240, 240);
    padding-top: 20px;
    width: 100vw;
    padding-bottom: 5px;
}
.navbar span {
    margin-right: 80px;
}
.navbar img {
    margin-right: 80px;
}

.offer-bar{
    color: white;
    display: flex;
    justify-content: center;
    padding-top: 17px;
    background-color: #1D1D1F;
    padding-bottom: 17px;
}
.iphone15{
    width: 100%;
    height: 650px;
    object-fit: fill;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('https://www.apple.com/v/iphone-15-pro/c/images/meta/iphone-15-pro_overview__f8jz7aagka2q_og.png?202404050445');
}

.iphone15-new{
    width: 100%;
    height: 650px;
    object-fit: fill;
    background-repeat: no-repeat;
    background-size: cover;

    background-image: url('https://www.apple.com/v/iphone-15/c/images/meta/iphone-15_overview__gm0jynt55aai_og.png?202404050445');
}